/bin/
.gradle/7.1.1/dependencies-accessors/dependencies-accessors.lock
.gradle/7.1.1/dependencies-accessors/gc.properties
.gradle/7.1.1/executionHistory/executionHistory.bin
.gradle/7.1.1/executionHistory/executionHistory.lock
.gradle/7.1.1/fileChanges/last-build.bin
.gradle/7.1.1/fileHashes/fileHashes.bin
.gradle/7.1.1/fileHashes/fileHashes.lock
.gradle/7.1.1/fileHashes/resourceHashesCache.bin
.gradle/7.1.1/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.gradle/vcs-1/gc.properties
build/classes/java/main/minicraft/core/Action.class
build/classes/java/main/minicraft/core/Condition.class
build/classes/java/main/minicraft/core/FileHandler$1.class
build/classes/java/main/minicraft/core/FileHandler.class
build/classes/java/main/minicraft/core/Game.class
build/classes/java/main/minicraft/core/Initializer$1.class
build/classes/java/main/minicraft/core/Initializer$2.class
build/classes/java/main/minicraft/core/Initializer.class
build/classes/java/main/minicraft/core/io/ConsoleReader$1.class
build/classes/java/main/minicraft/core/io/ConsoleReader$Command$1.class
build/classes/java/main/minicraft/core/io/ConsoleReader$Command$10.class
build/classes/java/main/minicraft/core/io/ConsoleReader$Command$11.class
build/classes/java/main/minicraft/core/io/ConsoleReader$Command$12.class
build/classes/java/main/minicraft/core/io/ConsoleReader$Command$2.class
build/classes/java/main/minicraft/core/io/ConsoleReader$Command$3.class
build/classes/java/main/minicraft/core/io/ConsoleReader$Command$4.class
build/classes/java/main/minicraft/core/io/ConsoleReader$Command$5.class
build/classes/java/main/minicraft/core/io/ConsoleReader$Command$6.class
build/classes/java/main/minicraft/core/io/ConsoleReader$Command$7.class
build/classes/java/main/minicraft/core/io/ConsoleReader$Command$8.class
build/classes/java/main/minicraft/core/io/ConsoleReader$Command$9.class
build/classes/java/main/minicraft/core/io/ConsoleReader$Command.class
build/classes/java/main/minicraft/core/io/ConsoleReader$Config$1.class
build/classes/java/main/minicraft/core/io/ConsoleReader$Config$2.class
build/classes/java/main/minicraft/core/io/ConsoleReader$Config.class
build/classes/java/main/minicraft/core/io/ConsoleReader.class
build/classes/java/main/minicraft/core/io/InputHandler$Key.class
build/classes/java/main/minicraft/core/io/InputHandler.class
build/classes/java/main/minicraft/core/io/Localization.class
build/classes/java/main/minicraft/core/io/Settings.class
build/classes/java/main/minicraft/core/io/Sound.class
build/classes/java/main/minicraft/core/MonoCondition.class
build/classes/java/main/minicraft/core/MyUtils.class
build/classes/java/main/minicraft/core/Network.class
build/classes/java/main/minicraft/core/Renderer.class
build/classes/java/main/minicraft/core/Updater$Time.class
build/classes/java/main/minicraft/core/Updater.class
build/classes/java/main/minicraft/core/VersionInfo.class
build/classes/java/main/minicraft/core/World.class
build/classes/java/main/minicraft/entity/Arrow.class
build/classes/java/main/minicraft/entity/ClientTickable.class
build/classes/java/main/minicraft/entity/Direction.class
build/classes/java/main/minicraft/entity/Entity.class
build/classes/java/main/minicraft/entity/furniture/Bed.class
build/classes/java/main/minicraft/entity/furniture/Chest.class
build/classes/java/main/minicraft/entity/furniture/Crafter$Type.class
build/classes/java/main/minicraft/entity/furniture/Crafter.class
build/classes/java/main/minicraft/entity/furniture/DeathChest.class
build/classes/java/main/minicraft/entity/furniture/DungeonChest.class
build/classes/java/main/minicraft/entity/furniture/Furniture.class
build/classes/java/main/minicraft/entity/furniture/Lantern$Type.class
build/classes/java/main/minicraft/entity/furniture/Lantern.class
build/classes/java/main/minicraft/entity/furniture/Spawner.class
build/classes/java/main/minicraft/entity/furniture/Tnt.class
build/classes/java/main/minicraft/entity/ItemEntity.class
build/classes/java/main/minicraft/entity/ItemHolder.class
build/classes/java/main/minicraft/entity/mob/AirWizard.class
build/classes/java/main/minicraft/entity/mob/Cow.class
build/classes/java/main/minicraft/entity/mob/Creeper.class
build/classes/java/main/minicraft/entity/mob/EnemyMob.class
build/classes/java/main/minicraft/entity/mob/Knight.class
build/classes/java/main/minicraft/entity/mob/Mob.class
build/classes/java/main/minicraft/entity/mob/MobAi.class
build/classes/java/main/minicraft/entity/mob/PassiveMob.class
build/classes/java/main/minicraft/entity/mob/Pig.class
build/classes/java/main/minicraft/entity/mob/Player$1.class
build/classes/java/main/minicraft/entity/mob/Player$2.class
build/classes/java/main/minicraft/entity/mob/Player.class
build/classes/java/main/minicraft/entity/mob/RemotePlayer.class
build/classes/java/main/minicraft/entity/mob/Sheep.class
build/classes/java/main/minicraft/entity/mob/Skeleton.class
build/classes/java/main/minicraft/entity/mob/Slime.class
build/classes/java/main/minicraft/entity/mob/Snake.class
build/classes/java/main/minicraft/entity/mob/Zombie.class
build/classes/java/main/minicraft/entity/particle/FireParticle.class
build/classes/java/main/minicraft/entity/particle/Particle.class
build/classes/java/main/minicraft/entity/particle/SmashParticle.class
build/classes/java/main/minicraft/entity/particle/TextParticle.class
build/classes/java/main/minicraft/entity/Spark.class
build/classes/java/main/minicraft/entity/Tickable.class
build/classes/java/main/minicraft/gfx/Color.class
build/classes/java/main/minicraft/gfx/ConnectorSprite.class
build/classes/java/main/minicraft/gfx/Dimension.class
build/classes/java/main/minicraft/gfx/Ellipsis$DotUpdater$CallUpdater.class
build/classes/java/main/minicraft/gfx/Ellipsis$DotUpdater$TickUpdater.class
build/classes/java/main/minicraft/gfx/Ellipsis$DotUpdater$TimeUpdater.class
build/classes/java/main/minicraft/gfx/Ellipsis$DotUpdater.class
build/classes/java/main/minicraft/gfx/Ellipsis$SequentialEllipsis.class
build/classes/java/main/minicraft/gfx/Ellipsis$SmoothEllipsis.class
build/classes/java/main/minicraft/gfx/Ellipsis.class
build/classes/java/main/minicraft/gfx/Font.class
build/classes/java/main/minicraft/gfx/FontStyle.class
build/classes/java/main/minicraft/gfx/Insets.class
build/classes/java/main/minicraft/gfx/MobSprite.class
build/classes/java/main/minicraft/gfx/Point.class
build/classes/java/main/minicraft/gfx/Rectangle.class
build/classes/java/main/minicraft/gfx/Screen$1.class
build/classes/java/main/minicraft/gfx/Screen.class
build/classes/java/main/minicraft/gfx/Sprite$Px.class
build/classes/java/main/minicraft/gfx/Sprite.class
build/classes/java/main/minicraft/gfx/SpriteSheet.class
build/classes/java/main/minicraft/item/ArmorItem.class
build/classes/java/main/minicraft/item/BookItem.class
build/classes/java/main/minicraft/item/BucketItem$Fill.class
build/classes/java/main/minicraft/item/BucketItem.class
build/classes/java/main/minicraft/item/ClothingItem.class
build/classes/java/main/minicraft/item/FishingData.class
build/classes/java/main/minicraft/item/FishingRodItem.class
build/classes/java/main/minicraft/item/FoodItem.class
build/classes/java/main/minicraft/item/FurnitureItem.class
build/classes/java/main/minicraft/item/Inventory.class
build/classes/java/main/minicraft/item/Item.class
build/classes/java/main/minicraft/item/Items.class
build/classes/java/main/minicraft/item/PotionItem.class
build/classes/java/main/minicraft/item/PotionType$1.class
build/classes/java/main/minicraft/item/PotionType$2.class
build/classes/java/main/minicraft/item/PotionType$3.class
build/classes/java/main/minicraft/item/PotionType.class
build/classes/java/main/minicraft/item/PowerGloveItem.class
build/classes/java/main/minicraft/item/Recipe.class
build/classes/java/main/minicraft/item/Recipes.class
build/classes/java/main/minicraft/item/StackableItem.class
build/classes/java/main/minicraft/item/TileItem.class
build/classes/java/main/minicraft/item/ToolItem.class
build/classes/java/main/minicraft/item/ToolType.class
build/classes/java/main/minicraft/item/TorchItem.class
build/classes/java/main/minicraft/item/UnknownItem.class
build/classes/java/main/minicraft/level/Level$1.class
build/classes/java/main/minicraft/level/Level$TileCheck.class
build/classes/java/main/minicraft/level/Level.class
build/classes/java/main/minicraft/level/LevelGen.class
build/classes/java/main/minicraft/level/Structure$TilePoint.class
build/classes/java/main/minicraft/level/Structure.class
build/classes/java/main/minicraft/level/tile/CactusTile.class
build/classes/java/main/minicraft/level/tile/CloudCactusTile.class
build/classes/java/main/minicraft/level/tile/CloudTile$1.class
build/classes/java/main/minicraft/level/tile/CloudTile.class
build/classes/java/main/minicraft/level/tile/ConnectTile.class
build/classes/java/main/minicraft/level/tile/DirtTile.class
build/classes/java/main/minicraft/level/tile/DoorTile$1.class
build/classes/java/main/minicraft/level/tile/DoorTile.class
build/classes/java/main/minicraft/level/tile/ExplodedTile$1.class
build/classes/java/main/minicraft/level/tile/ExplodedTile.class
build/classes/java/main/minicraft/level/tile/farming/FarmTile.class
build/classes/java/main/minicraft/level/tile/farming/Plant.class
build/classes/java/main/minicraft/level/tile/farming/PotatoTile.class
build/classes/java/main/minicraft/level/tile/farming/WheatTile.class
build/classes/java/main/minicraft/level/tile/FloorTile$1.class
build/classes/java/main/minicraft/level/tile/FloorTile.class
build/classes/java/main/minicraft/level/tile/FlowerTile.class
build/classes/java/main/minicraft/level/tile/GrassTile$1.class
build/classes/java/main/minicraft/level/tile/GrassTile.class
build/classes/java/main/minicraft/level/tile/HardRockTile.class
build/classes/java/main/minicraft/level/tile/HoleTile$1.class
build/classes/java/main/minicraft/level/tile/HoleTile.class
build/classes/java/main/minicraft/level/tile/InfiniteFallTile.class
build/classes/java/main/minicraft/level/tile/LavaBrickTile.class
build/classes/java/main/minicraft/level/tile/LavaTile$1.class
build/classes/java/main/minicraft/level/tile/LavaTile.class
build/classes/java/main/minicraft/level/tile/OreTile$OreType.class
build/classes/java/main/minicraft/level/tile/OreTile.class
build/classes/java/main/minicraft/level/tile/PathTile.class
build/classes/java/main/minicraft/level/tile/RockTile.class
build/classes/java/main/minicraft/level/tile/SandTile$1.class
build/classes/java/main/minicraft/level/tile/SandTile.class
build/classes/java/main/minicraft/level/tile/SaplingTile.class
build/classes/java/main/minicraft/level/tile/StairsTile.class
build/classes/java/main/minicraft/level/tile/Tile$Material.class
build/classes/java/main/minicraft/level/tile/Tile.class
build/classes/java/main/minicraft/level/tile/Tiles.class
build/classes/java/main/minicraft/level/tile/TorchTile.class
build/classes/java/main/minicraft/level/tile/TreeTile.class
build/classes/java/main/minicraft/level/tile/WallTile$1.class
build/classes/java/main/minicraft/level/tile/WallTile.class
build/classes/java/main/minicraft/level/tile/WaterTile$1.class
build/classes/java/main/minicraft/level/tile/WaterTile.class
build/classes/java/main/minicraft/level/tile/WoolTile$WoolType.class
build/classes/java/main/minicraft/level/tile/WoolTile.class
build/classes/java/main/minicraft/network/Analytics$1.class
build/classes/java/main/minicraft/network/Analytics.class
build/classes/java/main/minicraft/network/MinicraftClient$1.class
build/classes/java/main/minicraft/network/MinicraftClient$State.class
build/classes/java/main/minicraft/network/MinicraftClient.class
build/classes/java/main/minicraft/network/MinicraftConnection.class
build/classes/java/main/minicraft/network/MinicraftProtocol$InputType.class
build/classes/java/main/minicraft/network/MinicraftProtocol.class
build/classes/java/main/minicraft/network/MinicraftServer$1.class
build/classes/java/main/minicraft/network/MinicraftServer$2.class
build/classes/java/main/minicraft/network/MinicraftServer$MyTask.class
build/classes/java/main/minicraft/network/MinicraftServer.class
build/classes/java/main/minicraft/network/MinicraftServerThread.class
build/classes/java/main/minicraft/saveload/LegacyLoad.class
build/classes/java/main/minicraft/saveload/Load.class
build/classes/java/main/minicraft/saveload/Save.class
build/classes/java/main/minicraft/saveload/Version.class
build/classes/java/main/minicraft/screen/BookData.class
build/classes/java/main/minicraft/screen/BookDisplay.class
build/classes/java/main/minicraft/screen/ContainerDisplay.class
build/classes/java/main/minicraft/screen/CraftingDisplay.class
build/classes/java/main/minicraft/screen/Display.class
build/classes/java/main/minicraft/screen/EndGameDisplay.class
build/classes/java/main/minicraft/screen/entry/ArrayEntry.class
build/classes/java/main/minicraft/screen/entry/BlankEntry.class
build/classes/java/main/minicraft/screen/entry/BooleanEntry.class
build/classes/java/main/minicraft/screen/entry/ChangeListener.class
build/classes/java/main/minicraft/screen/entry/InputEntry.class
build/classes/java/main/minicraft/screen/entry/ItemEntry.class
build/classes/java/main/minicraft/screen/entry/ItemListing.class
build/classes/java/main/minicraft/screen/entry/KeyInputEntry.class
build/classes/java/main/minicraft/screen/entry/LinkEntry.class
build/classes/java/main/minicraft/screen/entry/ListEntry.class
build/classes/java/main/minicraft/screen/entry/RangeEntry.class
build/classes/java/main/minicraft/screen/entry/RecipeEntry.class
build/classes/java/main/minicraft/screen/entry/SelectEntry.class
build/classes/java/main/minicraft/screen/entry/StringEntry.class
build/classes/java/main/minicraft/screen/InfoDisplay.class
build/classes/java/main/minicraft/screen/InventoryMenu.class
build/classes/java/main/minicraft/screen/ItemListMenu.class
build/classes/java/main/minicraft/screen/KeyInputDisplay.class
build/classes/java/main/minicraft/screen/LevelTransitionDisplay.class
build/classes/java/main/minicraft/screen/LoadingDisplay.class
build/classes/java/main/minicraft/screen/Menu$1.class
build/classes/java/main/minicraft/screen/Menu$Builder.class
build/classes/java/main/minicraft/screen/Menu.class
build/classes/java/main/minicraft/screen/MultiplayerDisplay$1.class
build/classes/java/main/minicraft/screen/MultiplayerDisplay$2.class
build/classes/java/main/minicraft/screen/MultiplayerDisplay$3.class
build/classes/java/main/minicraft/screen/MultiplayerDisplay$State.class
build/classes/java/main/minicraft/screen/MultiplayerDisplay.class
build/classes/java/main/minicraft/screen/OptionsDisplay.class
build/classes/java/main/minicraft/screen/PauseDisplay.class
build/classes/java/main/minicraft/screen/PlayDisplay.class
build/classes/java/main/minicraft/screen/PlayerDeathDisplay.class
build/classes/java/main/minicraft/screen/PlayerInvDisplay.class
build/classes/java/main/minicraft/screen/RecipeMenu.class
build/classes/java/main/minicraft/screen/RelPos.class
build/classes/java/main/minicraft/screen/SkinDisplay.class
build/classes/java/main/minicraft/screen/TempDisplay.class
build/classes/java/main/minicraft/screen/TexturePackDisplay.class
build/classes/java/main/minicraft/screen/TitleDisplay.class
build/classes/java/main/minicraft/screen/WorldEditDisplay$1.class
build/classes/java/main/minicraft/screen/WorldEditDisplay.class
build/classes/java/main/minicraft/screen/WorldGenDisplay$1.class
build/classes/java/main/minicraft/screen/WorldGenDisplay$2.class
build/classes/java/main/minicraft/screen/WorldGenDisplay$3.class
build/classes/java/main/minicraft/screen/WorldGenDisplay$4.class
build/classes/java/main/minicraft/screen/WorldGenDisplay.class
build/classes/java/main/minicraft/screen/WorldSelectDisplay$1.class
build/classes/java/main/minicraft/screen/WorldSelectDisplay$Action.class
build/classes/java/main/minicraft/screen/WorldSelectDisplay.class
build/classes/java/main/minicraft/util/Vector2.class
build/distributions/minicraft-PO-Valcuda-2.0.7.jar
build/distributions/minicraft-PO-Valcuda-2.0.7.tar
build/distributions/minicraft-PO-Valcuda-2.0.7/bin/minicraft-PO-Valcuda
build/distributions/minicraft-PO-Valcuda-2.0.7/bin/minicraft-PO-Valcuda.bat
build/distributions/minicraft-PO-Valcuda-2.0.7/lib/annotations-21.0.1.jar
build/distributions/minicraft-PO-Valcuda-2.0.7/lib/commons-codec-1.15.jar
build/distributions/minicraft-PO-Valcuda-2.0.7/lib/commons-io-2.4.jar
build/distributions/minicraft-PO-Valcuda-2.0.7/lib/commons-logging-1.2.jar
build/distributions/minicraft-PO-Valcuda-2.0.7/lib/dns-2.0.8.jar
build/distributions/minicraft-PO-Valcuda-2.0.7/lib/dnsjava-3.4.1.jar
build/distributions/minicraft-PO-Valcuda-2.0.7/lib/httpasyncclient-4.1.4.jar
build/distributions/minicraft-PO-Valcuda-2.0.7/lib/httpclient-4.5.13.jar
build/distributions/minicraft-PO-Valcuda-2.0.7/lib/httpcore-4.4.14.jar
build/distributions/minicraft-PO-Valcuda-2.0.7/lib/httpcore-nio-4.4.14.jar
build/distributions/minicraft-PO-Valcuda-2.0.7/lib/httpmime-4.5.13.jar
build/distributions/minicraft-PO-Valcuda-2.0.7/lib/javax.activation-api-1.2.0.jar
build/distributions/minicraft-PO-Valcuda-2.0.7/lib/jaxb-api-2.3.1.jar
build/distributions/minicraft-PO-Valcuda-2.0.7/lib/json-20210307.jar
build/distributions/minicraft-PO-Valcuda-2.0.7/lib/minicraft_plus-2.0.7.jar
build/distributions/minicraft-PO-Valcuda-2.0.7/lib/slf4j-api-1.7.32.jar
build/distributions/minicraft-PO-Valcuda-2.0.7/lib/unirest-java-1.4.9.jar
build/distributions/minicraft-PO-Valcuda-2.0.7/lib/xmlgraphics-commons-2.6.jar
build/distributions/minicraft-PO-Valcuda-shadow-2.0.7.tar
build/distributions/minicraft-PO-Valcuda-shadow-2.0.7.zip
build/distributions/minicraft-PO-Valcuda-shadow-2.0.7/bin/minicraft-PO-Valcuda
build/distributions/minicraft-PO-Valcuda-shadow-2.0.7/bin/minicraft-PO-Valcuda.bat
build/distributions/minicraft-PO-Valcuda-shadow-2.0.7/lib/minicraft_plus-2.0.7.jar
build/libs/minicraft_pov_1.0.0.jar
build/resources/main/Minicraft_Splash_Screen_1.png
build/resources/main/Minicraft_Splash_Screen_2.png
build/resources/main/Minicraft_Splash_Screen_3.png
build/resources/main/resources/books/about.txt
build/resources/main/resources/books/antidous.txt
build/resources/main/resources/books/instructions.txt
build/resources/main/resources/books/story_guide.txt
build/resources/main/resources/chestloot/dungeonchest.txt
build/resources/main/resources/chestloot/minidungeon.txt
build/resources/main/resources/chestloot/villagehouse.txt
build/resources/main/resources/fishing/fish_loot.txt
build/resources/main/resources/fishing/junk_loot.txt
build/resources/main/resources/fishing/rare_loot.txt
build/resources/main/resources/fishing/tool_loot.txt
build/resources/main/resources/localization/english_en-us.mcpl
build/resources/main/resources/localization/french_fr-fr.mcpl
build/resources/main/resources/localization/hungarian_hu-hu.mcpl
build/resources/main/resources/localization/indonesia_id-id.mcpl
build/resources/main/resources/localization/italiano_it-it.mcpl
build/resources/main/resources/localization/norwegian_nb-no.mcpl
build/resources/main/resources/localization/portugues_pt-pt.mcpl
build/resources/main/resources/localization/spanish_es-es.mcpl
build/resources/main/resources/localization/turkish_tr-tr.mcpl
build/resources/main/resources/logo.png
build/resources/main/resources/sound/bossdeath.wav
build/resources/main/resources/sound/confirm.wav
build/resources/main/resources/sound/craft.wav
build/resources/main/resources/sound/death.wav
build/resources/main/resources/sound/explode.wav
build/resources/main/resources/sound/fuse.wav
build/resources/main/resources/sound/monsterhurt.wav
build/resources/main/resources/sound/pickup.wav
build/resources/main/resources/sound/playerhurt.wav
build/resources/main/resources/sound/select.wav
build/resources/main/resources/textures/entities.png
build/resources/main/resources/textures/gui.png
build/resources/main/resources/textures/items.png
build/resources/main/resources/textures/skins.png
build/resources/main/resources/textures/tiles.png
build/scripts/minicraft-PO-Valcuda
build/scripts/minicraft-PO-Valcuda.bat
build/scriptsShadow/minicraft-PO-Valcuda
build/scriptsShadow/minicraft-PO-Valcuda.bat
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/jar/MANIFEST.MF
build/tmp/shadowJar/MANIFEST.MF
gradle/wrapper/gradle-wrapper.jar
